!!!
%html
  %head
    %title Belgian 2050 Pathways Calculator
    = stylesheet
    = javascript
  %body
    #topbar
      #help
        %a#helpLink{ :href => ''} Help
      %ul#viewdropdown.dropdown
        %li
          %a{ href:'#', onclick:"$('ul#view_choices').toggle()"} 
            See implications
            %img{src: '/assets/images/dropdown-arrow.png'}
          %ul#view_choices.choices
            - view_names.each do |action,title|
              %li
                %a{href:'#', onclick:"twentyfifty.switchView('#{action}')"}= title 

      #messages
        #calculating Calculating
        #message
          %a{href:""} This is an ALPHA version of the Belgian 2050 Pathways Calculator
      %ul#savedpathwaydropdown.dropdown
        %li
          %a{href:'#', onclick:"$('ul#savedpathway_choices').toggle()"}
            Example Pathways
            %img{src: '/assets/images/dropdown-arrow.png'}
          %ul#savedpathway_choices.choices
            - saved_pathways.each do |name,code|
              %li
                %a{href:"#", onclick:"twentyfifty.switchPathway('#{code}');$('ul#savedpathway_choices').toggle()"}= name
      #share
        %a{href:'#', onclick:"twentyfifty.switchView('share')"} Share
    #results
    #classic_controls
      #demand
        %table
          - structure.demand_choices.each do |choice|
            = classic_table_row_for_choice choice
      #supply
        %table
          - structure.industry_choices.each do |choice|
            = classic_table_row_for_choice choice
      #other
        %table
          - structure.supply_choices.each do |choice|
            = classic_table_row_for_choice choice
    #tooltip
    #footer
      Based on <a href='FIXME'>FIX LINK TO HOME PAGE</a>. The source code for this site is available under an open source licence from 
      %a{href: "http://github.com/decc/belgium_2050_web_interface"}http://github.com/decc/belgium_2050_web_interface
